
-- 1. إضافة عمود الربط الذكي في جدول المحلات
ALTER TABLE public.vendors 
ADD COLUMN global_category_id UUID REFERENCES public.global_categories(id) ON DELETE SET NULL;

-- 2. (اختياري) تحويل النوع القديم لنص لضمان التوافق
ALTER TABLE public.vendors 
ALTER COLUMN type TYPE TEXT;

-- 3. تحديث البيانات لتربط المحلات الحالية بالكاتلوجات (بناءً على النوع)
UPDATE public.vendors v
SET global_category_id = gc.id
FROM public.global_categories gc
WHERE v.type = gc.vendor_type;

