
-- تشغيل ملف الجداول الجديدة
-- 1. Ø¥Ù†Ø´Ø§Ø¡ Ø¬Ø¯ÙˆÙ„ Ø§Ù„Ù…Ù†Ø§Ø·Ù‚ ÙˆØ§Ù„Ù‚Ø±Ù‰ CREATE TABLE public.delivery_areas (     id UUID PRIMARY KEY DEFAULT gen_random_uuid(),     name TEXT NOT NULL,     parent_id UUID REFERENCES public.delivery_areas(id) ON DELETE SET NULL, -- Ù„Ù„ØªÙ‚Ø³ÙŠÙ… Ø§Ù„ÙØ±Ø¹ÙŠ (Ù…Ø«Ù„ Ø£Ø­ÙŠØ§Ø¡ Ø¯Ø§Ø®Ù„ Ù…Ø¯ÙŠÙ†Ø©)     is_active BOOLEAN DEFAULT true,     created_at TIMESTAMPTZ DEFAULT NOW() );  -- 2. Ø¥Ù†Ø´Ø§Ø¡ Ø¬Ø¯ÙˆÙ„ Ø¹Ù†Ø§ÙˆÙŠÙ† Ø§Ù„Ù…Ø³ØªØ®Ø¯Ù…ÙŠÙ† Ø§Ù„Ù…ØªØ·ÙˆØ± CREATE TABLE public.user_addresses (     id UUID PRIMARY KEY DEFAULT gen_random_uuid(),     user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,     area_id UUID REFERENCES public.delivery_areas(id) ON DELETE SET NULL,     title TEXT, -- Ù…Ù†Ø²Ù„ØŒ Ø¹Ù…Ù„ØŒ Ø§Ù„Ø®     address_line_1 TEXT, -- Ø§Ù„Ø´Ø§Ø±Ø¹ ÙˆØ§Ù„Ù…Ø¨Ù†Ù‰     building_number TEXT,     floor_number TEXT,     apartment_number TEXT,     location GEOGRAPHY(POINT), -- Ø¥Ø­Ø¯Ø§Ø«ÙŠØ§Øª GPS Ù…Ù† Ø§Ù„Ø®Ø±ÙŠØ·Ø©     is_default BOOLEAN DEFAULT false,     created_at TIMESTAMPTZ DEFAULT NOW() );  -- 3. Ø¨ÙŠØ§Ù†Ø§Øª Ø£ÙˆÙ„ÙŠØ© Ù„Ù„Ù…Ù†Ø§Ø·Ù‚ (ÙƒÙ…Ø§ ÙÙŠ Ø§Ù„ØµÙˆØ±Ø©) INSERT INTO public.delivery_areas (name) VALUES  ('Ø§Ù„Ù‚Ø¯Ø³'), ('Ø§Ù„Ù†Ø§ØµØ±Ø© ÙˆØ¶ÙˆØ§Ø­ÙŠÙ‡Ø§'), ('Ø§Ù… Ø§Ù„ÙØ­Ù…'), ('Ø¨Ø§Ù‚Ø© Ø§Ù„ØºØ±Ø¨ÙŠØ©'), ('Ø­ÙŠÙØ§'), ('Ø±Ù‡Ø·'), ('Ø³Ø®Ù†ÙŠÙ† - Ø¹Ø±Ø§Ø¨Ø© - Ø¯ÙŠØ± Ø­Ù†Ø§'), ('Ø¬Ø¯ÙŠØ¯Ø© Ø§Ù„Ù…ÙƒØ± - ÙŠØ±ÙƒØ§ - ÙŠØ§Ø³ÙŠÙ'), ('Ø§Ù„Ø·ÙŠØ¨Ø© - Ø§Ù„Ø·ÙŠØ±Ø© - Ù‚Ù„Ù†Ø³ÙˆØ©');  -- 4. Ø¥Ø¹Ø¯Ø§Ø¯ Ø§Ù„ØµÙ„Ø§Ø­ÙŠØ§Øª (RLS) ALTER TABLE public.delivery_areas ENABLE ROW LEVEL SECURITY; CREATE POLICY "Delivery areas viewable by everyone" ON public.delivery_areas FOR SELECT USING (true);  ALTER TABLE public.user_addresses ENABLE ROW LEVEL SECURITY; CREATE POLICY "Users can manage own addresses" ON public.user_addresses FOR ALL USING (auth.uid() = user_id);

