-- 1. إنشاء جدول الكاتلوجات العالمية
CREATE TABLE IF NOT EXISTS global_categories (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    name TEXT NOT NULL,
    image_url TEXT,
    vendor_type TEXT, 
    sort_order INT DEFAULT 0,
    created_at TIMESTAMPTZ DEFAULT NOW()
);

-- 2. تفعيل الحماية والسماح للجميع بالمشاهدة
ALTER TABLE global_categories ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS "Public read categories" ON global_categories;
CREATE POLICY "Public read categories" ON global_categories 
FOR SELECT USING (true);

-- 3. مسح أي بيانات تجريبية سابقة
TRUNCATE global_categories;

-- 4. إضافة الكاتلوجات الفخمة بأيقونات واضحة
INSERT INTO global_categories (name, image_url, vendor_type, sort_order) VALUES
('ترند هات', 'https://cdn-icons-png.flaticon.com/512/737/737967.png', 'restaurant', 1),
('كتب وقرطاسيات', 'https://cdn-icons-png.flaticon.com/512/3389/3389081.png', 'retail', 2),
('صيدليات', 'https://cdn-icons-png.flaticon.com/512/3024/3024844.png', 'pharmacy', 3),
('ديكور المنزل', 'https://cdn-icons-png.flaticon.com/512/2163/2163350.png', 'retail', 4);